<!--css样式-->
<link href="common/comm.css" type="text/css" rel="stylesheet" />
<!--图片-->
<!--images/share.png-->
<div class="bshare">
    <span>分享到：</span>
    <a title="分享到QQ空间" class="bshare-qzone" onclick="javascript:bShare.share(event,'qzone',0);return false;"></a>
    <a title="分享到新浪微博" class="bshare-sinaminiblog" onclick="javascript:bShare.share(event,'sinaminiblog',0);return false;"></a>
    <a title="分享到人人网" class="bshare-renren" onclick="javascript:bShare.share(event,'renren',0);return false;"></a>
    <a title="分享到腾讯微博" class="bshare-qqmb" onclick="javascript:bShare.share(event,'qqmb',0);return false;"></a>
</div>