 <!--css样式-->
<link href="common/tcbox.css" type="text/css" rel="stylesheet" />
 <!--js文件-->
<script src="common/tcbox.js" type="text/javascript"></script>
<!--弹窗结构-->
<div class="tcbox" name="会员登录">
    <div class="tcbox_name"><em>会员登录</em><i></i><span>×</span></div>
    <div class="tcbox_con login">

        <form id="loginForm" name="loginForm" method="post">
            <dl>
                <dt>
                    <div>
                        <img src="http://img2.shoes.net.cn/template/Template1/images/tc_icon_02.gif" /><img src="http://img2.shoes.net.cn/template/Template1/images/tc_icon_02s.gif" /></div>
                </dt>
                <dd>
                    <input type="text" name="username" id="username" placeholder="手机/邮箱/用户名" /></dd>
            </dl>
            <dl>
                <dt>
                    <div>
                        <img src="http://img2.shoes.net.cn/template/Template1/images/tc_icon_03.gif" /><img src="http://img2.shoes.net.cn/template/Template1/images/tc_icon_03s.gif" /></div>
                </dt>
                <dd>
                    <input type="password" name="password" id="password" placeholder="请输入您的密码" /></dd>
            </dl>
            <div class="selkey">
                <input type="checkbox" checked="checked" value="7天内记住登录" />7天内记住登录 <a href="http://www.shoes.net.cn/ForgotPassword.html" target="_blank">忘记密码？</a></div>
            <button type="button" id="loginSub">立即登录</button>
            <div class="login_rk">
                <a href="javascript:;" class="fright" onclick="tcshow('注册会员')"><img src="http://img2.shoes.net.cn/template/Template1/images/tc_bt_bg.gif" /></a>
            </div>
        </form>
    </div>
</div>
<div class="tcbox" name="注册会员">
    <div class="tcbox_name"><em>注册会员</em><i></i><span>×</span></div>
    <div class="tcbox_con login">
        <form id="regForm" name="regForm" style="padding-top: 0;">
            <dl>
                <dt>
                    <div>
                        <img src="http://img2.shoes.net.cn/template/Template1/images/tc_icon_02.gif" /><img src="http://img2.shoes.net.cn/template/Template1/images/tc_icon_02s.gif" /></div>
                </dt>
                <dd>
                    <input type="text" name="regMobile" id="regMobile" placeholder="请输入您的手机" /></dd>
            </dl>

            <dl>
                <dt>
                    <div>
                        <img src="http://img2.shoes.net.cn/template/Template1/images/tc_icon_09.gif" /><img src="http://img2.shoes.net.cn/template/Template1/images/tc_icon_09s.gif" /></div>
                </dt>
                <dd>
                    <input type="text" name="regEmail" id="regEmail" placeholder="请输入您的邮箱" /></dd>
            </dl>
            <dl>
                <dt>
                    <div>
                        <img src="http://img2.shoes.net.cn/template/Template1/images/tc_icon_03.gif" /><img src="http://img2.shoes.net.cn/template/Template1/images/tc_icon_03s.gif" /></div>
                </dt>
                <dd>
                    <input type="text" name="regPassword" id="regPassword" placeholder="请输入您的密码" /></dd>
            </dl>
            <div class="selkey">
                <input type="checkbox" checked="checked" value="7天内记住登录" /> 我已阅读并同意 <a href="http://www.shoes.net.cn/member/announce.html" target="_blank" class="clearFloat">《环球鞋网用户注册协议》</a></div>
            <button type="button" id="regSub">注册并登录</button>
            <div class="login_rk">
                <a href="javascript:;" class="fright" onclick="tcshow('会员登录')"><img src="http://img2.shoes.net.cn/template/Template1/images/tc_bt_bg02.gif" /></a>
            </div>
        </form>
    </div>
</div>
<div class="tcbox" name="联系方式">
    <div class="tcbox_name"><em>联系方式</em><i></i><span>×</span></div>
    <div class="tcbox_con ctUs ">
        联系人 :<b>张锦波</b> <span>（总经理）</span><br /> 电话 :<b> 86-0595-85681487</b><br /> 手机 :<b> 13859747777</b>
    </div>
</div>
<div class="tcbox" name="工商信息注册">
    <div class="tcbox_name"><em>工商信息注册</em><i>该信息于2016年09月20日通过环球鞋网认证</i><span>×</span></div>
    <div class="tcbox_con gsxx ">
        <ul>
            <li><span>名称：</span><em>晋江市顺兴大沙漠贸易有限公司</em></li>
            <li><span>注册地址：</span><em>中国福建晋江市梅岭街道沟头东环路</em></li>
            <li><span>资本注册：</span><em>人民币 300 万元 - 500 万元</em></li>
            <li><span>成立日期：</span><em>1997</em></li>
            <li><span>注册号：</span><em>13650000000000</em></li>
            <li><span>法定代表人：</span><em>张文彬</em></li>
            <li><span>登记机关：</span><em>泉州市工商管理局</em></li>
            <li><span>企业类型：</span><em>私营有限责任公司</em></li>
            <li><span>营业期限：</span><em>2016-09-20  至  长期</em></li>
            <li><span>年检时间：</span><em>2016年（最近）</em></li>
            <li><span>经营范围：</span><em>干燥剂;防霉片;葵精;环保干燥剂;防霉抗菌剂;活性碳干燥剂;硅胶干燥剂; 货柜干燥棒</em></li>
        </ul>
        <div class="gz">
            <img src="http://img2.shoes.net.cn/template/Template1/images/tk_img_01.png" /></div>
    </div>
</div>
<div class="tcbox" name="产品咨询">
    <div class="tcbox_name"><em>产品咨询</em><i></i><span>×</span></div>
    <div class="tcbox_con prozx">
        <form id="messageForm" name="messageForm" method="post">
            <input type="text" name="companyid" id="companyid" class="hidden" value="45625" />
            <input type="text" name="companymobile" id="companymobile" class="hidden" value="13859747777" />
            <input type="text" name="productid" id="productid" class="hidden" value="158797" />
            <input type="text" name="productname" id="productname" class="hidden" value="氧化钙干燥剂" />
            <input type="text" name="msgtype" id="msgtype" class="hidden" value="product" />
            <dl>
                <dt>询价产品：</dt>
                <dd>氧化钙干燥剂</dd>
            </dl>
            <dl>
                <dt>询价主题：</dt>
                <dd><input type="radio" name="requestInfo" value="价格" checked="checked" /><span>价格</span><input type="radio" name="requestInfo" value="发货与交货" /><span>发货与交货</span><input type="radio" name="requestInfo" value="商品参数" /><span>商品参数</span><input
                        type="radio" name="requestInfo" value="其他" /><span>其他</span>
                </dd>
            </dl>
            <dl>
                <dt><span class="tcolor_red">*</span>咨询详情</dt>
                <dd>
                    <textarea class="ts_Txtobj" name="content" id="content"></textarea>
                    <p class="Ts_01"><span>×</span>内容不能为空</p>
                </dd>
            </dl>
            <dl>
                <dt><span class="tcolor_red">*</span>手机：</dt>
                <dd><input type="text" name="mobile" id="mobile" placeholder="18912345671" class="tel ts_Telobj" />
                    <p class="Ts_01"><span>×</span>手机格式错误</p>
                    <p class="Ts_02"><span><Img src="http://img2.shoes.net.cn/template/Template1/images/tc_dagou.gif"/></span></p>
                </dd>
            </dl>
            <dl>
                <dt><span class="tcolor_red">*</span>验证码：</dt>
                <dd><input type="text" name="verifycode" id="verifycode" class="yzm" /><img src="http://dashamo.shoes.net.cn/Public/GetValidateCode" onclick="this.src+='?'" title="看不清?点击刷新" />
                    <p class="Ts_01"><span>×</span>验证码错误</p>
                    <p class="Ts_02"><span><Img src="http://img2.shoes.net.cn/template/Template1/images/tc_dagou.gif"/></span></p>
                </dd>
            </dl>
            <dl>
                <dt>&nbsp;</dt>
                <dd><button type="button" id="messageSub">发送</button></dd>
            </dl>
        </form>
    </div>
</div>
   
