
    @charset "utf-8";
/* CSS Document */
body,
ol,
ul,
dl,
li,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
    margin: 0;
    padding: 0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
body {
    font: 12px "Microsoft YaHei", Arial, Helvetica;
    background: #fff;
    color: #333;
    -webkit-text-size-adjust: 100%;
}
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    /* color:#f60; */
    
    text-decoration: none;
}
em,
i {
    font-style: normal;
}
.db {
    display: block
}
ol,
ul,
dl,
li,
dt,
dd {
    list-style: none
}
img {
    border: 0;
    vertical-align: middle
}
a img {
    border: 0
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.cl {
    clear: both;
}
.over {
    overflow: hidden;
}
.fix {
    *zoom: 1;
}
.fix:after,
.fix:before {
    display: block;
    content: "clear";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.z {
    _zoom: 1;
}
.layout {
    width: 1200px;
    margin: 0 auto;
}
input {
    outline: none;
    padding: 0px;
}
textarea {
    resize: none
}
a{
    background:url(about:blank);
}
/***********************************************************************************************************************/
    