.m_catalog {
    text-align: left;
    border-bottom: 1px solid #d4d4d4;
    // padding: rem(12) 0;
    .inner {
        margin-left: rem(35);
    }
    span,
    a,
    em {
        color: #333333;
        font-size: rem(18);
        line-height: rem(42);
    }
    em {
        margin: 0 rem(7);
    }
}